.product-brand {
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.price-actual {
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.price-full {
  font-size: 10px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}
