.sort-wrapper {
  margin-bottom: 20px;
  align-self: flex-end;
}

.sort-label {
  font-size: 14px;
  font-weight: 800;
  margin-right: 15px;
  padding: 10px 15px;
}

.sort-dropdown {
  padding: 10px 15px;
}
